package {{apiPackageTextField}};

import {{apiPackageTextField}}.{{reqFileNameDubbo}};
import {{apiPackageTextField}}.{{resFileNameDubbo}};

/**
 * TODO Auto-generate
 */
public interface {{businessNamePrefix}}Dubbo{{servicePostfixTextField}} {

    /**
     * TODO Auto-generate
     */
    {{resFileName}} {{methodNameTextField}}({{reqFileName}} reqDto);

}
