package {{dubboPackage}};

import {{pojoPackage}}.{{pojoReqFileName}};
import {{pojoPackage}}.{{pojoResFileName}};

/**
 * TODO Auto-generate
 */
public interface {{serviceDubboFileName}} {

    /**
     * TODO Auto-generate
     */
    {{pojoResFileName}} {{methodName}}({{pojoReqFileName}} reqDto);

}
