package {{feignPackage}};

import {{pojoPackage}}.{{pojoReqFileName}};
import {{pojoPackage}}.{{pojoResFileName}};
import org.springframework.cloud.openfeign.FeignClient;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

/**
 * TODO Auto-generate
 */
@FeignClient(value = "{{moduleName}}",
        path = {{feignFileName}}.FEIGN_PATH,
        url = "${feign.debug.{{moduleName}}.url:}")
@Api(tags = "TODO Auto-generate")
public interface {{feignFileName}} {
    String FEIGN_PATH = "/feign/{{businessName}}";

    /**
     * TODO Auto-generate
     */
    @ApiOperation(value = "TODO Auto-generate")
    @PostMapping(value = "/{{methodName}}", headers = "feign=true")
    {{pojoResFileName}} {{methodName}}(@Validated @RequestBody {{pojoReqFileName}} reqVo);

}
