package {{servicePackage}};

import {{pojoPackage}}.{{pojoReqFileName}};
import {{pojoPackage}}.{{pojoResFileName}};

/**
 * TODO Auto-generate
 */
public interface {{serviceFileName}} {

    /**
     * TODO Auto-generate
     */
    {{pojoResFileName}} {{methodName}}({{pojoReqFileName}} reqVo);

}
