package {{serviceImplPackage}};

import {{pojoPackage}}.{{pojoReqFileName}};
import {{pojoPackage}}.{{pojoResFileName}};
import {{servicePackage}}.{{serviceFileName}};
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
{{#modifyDb}}import org.springframework.transaction.annotation.Transactional;{{/modifyDb}}

{{#returnList}}
import java.util.Collections;
import java.util.List;
{{/returnList}}

@Slf4j
@Service
public class {{serviceImplFileName}} implements {{serviceFileName}} {

    @Override
    {{#modifyDb}}@Transactional(rollbackFor = Exception.class){{/modifyDb}}
    public {{#returnList}}List<{{/returnList}}{{pojoResFileName}}{{#returnList}}>{{/returnList}} {{methodName}}({{pojoReqFileName}} reqVo) {
        // AutoGenerate
        {{#returnList}}return Collections.emptyList();{{/returnList}}
        {{^returnList}}return new {{pojoResFileName}}();{{/returnList}}
    }

}
