package {{servicePackageTextField}};

import {{modelPackage}}.{{reqFileName}};
import {{modelPackage}}.{{resFileName}};

/**
 * TODO Auto-generate
 */
public interface {{businessNamePrefix}}{{servicePostfixTextField}} {

    /**
     * TODO Auto-generate
     */
    {{resFileName}} {{methodNameTextField}}({{reqFileName}} reqVo);

}
