package {{servicePackage}};

import {{pojoPackage}}.{{pojoReqFileName}};
import {{pojoPackage}}.{{pojoResFileName}};

{{#returnList}}import java.util.List;{{/returnList}}

/**
 * {{businessDesc}}
 */
public interface {{serviceFileName}} {

    /**
     * {{methodDesc}}
     */
    {{#returnList}}List<{{/returnList}}{{pojoResFileName}}{{#returnList}}>{{/returnList}} {{methodName}}({{pojoReqFileName}} reqVo);

}
