package {{pojoPackageTextField}};

import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{modelNamePrefix}}Res{{pojoPostfixTextField}} {

    @ApiModelProperty("TODO Auto-generate")
    private String code;

}
