package {{enumPath}};

{{#useLombokPlugin}}import lombok.Getter;{{/useLombokPlugin}}

import java.util.HashMap;
import java.util.Map;

/**
 * 请勿手工改动此文件,请使用DataBaseManager(IDEA插件)的MyBatis Generator功能
 *
 * @author mybatis generator
 */
{{#useLombokPlugin}}@Getter{{/useLombokPlugin}}
public enum {{enumClassName}} {
    /**
     * 未知枚举值
     */
    UNKNOWN(-1, ""),
{{#enumFields}}
    /**
     * {{name}}
     */
    {{label}}({{code}}, "{{name}}"),
{{/enumFields}}
    ;
    private final Integer code;
    private final String name;
    private static final Map<Integer, {{enumClassName}}> MAP;

    static {
        MAP = new HashMap<>(8, 1);
        for ({{enumClassName}} value : {{enumClassName}}.values()) {
            MAP.put(value.code, value);
        }
    }

    {{enumClassName}}(Integer code, String name) {
        this.code = code;
        this.name = name;
    }

    public static {{enumClassName}} getByCode(Integer code) {
        return MAP.getOrDefault(code, UNKNOWN);
    }
{{^useLombokPlugin}}

    public Integer getCode() {
        return code;
    }

    public String getName() {
        return name;
    }
{{/useLombokPlugin}}

}
